/* Guild setup */

.gs_title {
    font-size: 18px;
    color: white;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    margin-top:20px;
}

.gs_subtitle {
    font-size: 15px;
    margin: 10px;
    text-align: center;
    color: #a2a2a2;
    font-weight: 500;
    margin-bottom:20px;
}

.gs_midtitle {
    width: 75%;
    margin: auto;
    color: #d6d6d6;
}

.gs_wafflebtn_container {
    margin: 0;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

.gs_wafflebtn {
    background-color: rgb(66, 69, 74);
    border: 1px solid #53565a;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    padding: 5px 10px;
    width: 118px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    font-size: 15px;
}

.gs_widebtn {
    background-color: rgb(66, 69, 74);
    border: 1px solid #53565a;
    color: #c3c3c3;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px 20px;
    font-size: 15px;
}

.gs_widebtn_nomargin {
    margin-left:0;
    margin-right:0;
}

.gs_widebtn_title {
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.gs_midbtn {
    background-color: rgb(66, 69, 74);
    border: 1px solid #53565a;
    color: #c3c3c3;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    padding: 15px 10px;
    margin: 20px auto;
    font-size: 15px;
    width: 200px;
}

.gs_accent_blue {
    background-color: #3882dc;
    border: 1px solid #559bef;
    color:white;
}

.gs_videobox {
    width: 440px;
    height: 248px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #252629;
}

.gs_videobox_player {
    width: 440px;
    height: 248px;
}

.gs_loading_waiting {
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    width:100%;
}

.gs_iconmaker_dino_holder {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.gs_iconmaker_dino {
    width: 30px;
    height: 30px;
    padding: 3px;
    filter: invert(1);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.gs_iconmaker_dino_selected {
    border-color: black;
}

.gs_iconmaker_canvas {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: hsl(0, 74%, 57%);
    position: relative;
    overflow: hidden;
}

.gs_iconmaker_canvas_dino {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 8px;
    filter: invert(1);
}

.gs_iconmaker_canvas_dino_left {
    right: 20px;
}

.gs_iconmaker_canvas_dino_right {
    left: 20px;
}

.gs_iconmaker_colorbar {
    background: linear-gradient(to right,hsl(0,100%,50%),hsl(60,100%,50%),hsl(120,100%,50%),hsl(180,100%,50%),hsl(240,100%,50%),hsl(300,100%,50%),hsl(360,100%,50%));
    height: 10px;
    position: relative;
    border-radius: 10px;
    margin: 20px;
}

.gs_iconmaker_colorbar_grabber {
    border: 1px solid white;
    width: 20px;
    height: 20px;
    background-color: hsl(0, 74%, 57%);
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    pointer-events: none;
}

.gs_name {
    width: 400px;
    padding: 10px;
    border: 1px solid #141517;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    background-color: #42454a;
    color: white;
}

.gs_name_invalid {
    border-color: #f92b2b;
    color: #ff9393;
}

.gs_icon_upload {
    margin: 15px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 15px;
    background-color: #42454a;
    border-radius: 5px;
    border: 2px dashed #ffffff;
    cursor: pointer;
}

.gs_iconmaker_title {
    margin: 15px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}