body {
    margin:0;
    padding:0;
}

html {
    padding:0;
    margin:0;
    background-color: #252629;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.search_area { 
    margin-top:50px;
    margin-bottom:80px;
}

.search_box {
    display:inline-block;
    max-width:600px;
    width:100%;
}

.search_input {
    padding: 15px 10px;
    border-radius:5px;
    margin: 0px 10px;
    background-color: #33363c;
    border: 1px solid #50545b;
    color: white;
    width: calc(100% - 40px);
}

/* Content */
.list_area {
    width:100%;
    max-width:1000px;
    margin:auto;
}

.list_entry {
    display:inline-block;
    margin:10px;
    border-radius:5px;
    background-color: #33363c;
    border: 1px solid #50545b;
    overflow:hidden;
    position: relative;
    width:300px;
    height:350px;
}

.list_entry_banner {
    height:100px;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-image: linear-gradient(0deg, rgba(51,54,60,1) 0%, rgba(51,54,60,0) 62%),url(https://user-content.romanport.com/u/l4lISBMow1ciTsiJuVdw25oJ);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list_entry_name {
    position: absolute;
    top:110px;
    left: 15px;
    right: 15px;
    height:50px;
    color:white;
}

.list_entry_name_icon {
    background-image: url(https://user-content.romanport.com/u/t3rs91tZ8hxjNXDSTzAFiJmj);
    background-size:cover;
    height:50px;
    width:50px;
    border-radius:8px;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
}

.list_entry_name_text {
    position: absolute;
    left: 62px;
    right:0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_entry_name_text_title {
    font-size: 19px;
    color:white;
    top: 6px;
}

.list_entry_name_text_sub {
    font-size:13px;
    color: #929292;
    bottom: 6px;
}

.list_entry_motd {
    position: absolute;
    top:170px;
    bottom:10px;
    left: 15px;
    right: 15px;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 13px;
    color: #c5c5c5;
}

.list_entry_flags {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    padding: 15px 0px;
    background-color: #383a3f;
    border-top: 1px solid #50545b;
}

.list_entry_flags_entry {
    height:18px;
    line-height:18px;
    display:inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    padding-left: 30px;
    background-image: url(/assets/icons/baseline-lock-24px.svg);
    color: white;
    font-size: 13px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-y: center;
    background-position-x: 8px;
    border: 1px solid #50545b;
    background-color: #33363c;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}