.top_nav {
    position: absolute;
    top:0;
    height:60px;
    left:0;
    right:0;
    font-family: 'Roboto', sans-serif;
    background-color: #252629; 
}

.top_nav_server_icon {
    background-image: url(https://ark.romanport.com/resources/placeholder_server_images/Tc.png);
    background-position: 50%;
    background-size: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: all 120ms;
}

.top_nav_title_area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    height: 40px;
    padding: 10px 0px;
    width: 300px;
    position: relative;
}

.top_nav_title_text_area {
    position: absolute;
    left: 52px;
    right:0;
    top: 13px;
}

.top_nav_title_name {
    color:white;
    font-size: 17px;
    line-height: 20px;
}

.top_nav_title_sub {
    color:gray;
    line-height: 15px;
    font-size: 13px;
}

.top_nav_search {
    position: absolute;
    top: 12px;
    width: 330px;
    right: 16px;
    height: 36px;
    border-radius: 5px;
    background-color: #33363c;
    color: white;
    outline: none;
    border: 1px solid #50545b;
}

.top_nav_search_entry {
    padding: 5px 10px;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width:calc(100% - 120px - 1px);
    border:none;
    margin:0;
    background-color:transparent;
    border-right: 1px solid #50545b;
    color:white;
}

.top_nav_search_select {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    width:120px;
    border: 0;
    padding: 5px;
    background-color: #33363c;
    color: white;
    border-radius: 5px;
}

.top_nav_search_entry:focus {
    outline: none;
}

.top_nav_search_select:focus {
    outline: none;
}

.top_nav_btn_area {
    position: absolute;
    top: 12px;
    right: 370px;
    right:352px;
    height: 38px;
}

.top_nav_btn_area_sectioner {
    margin-left: 6px;
    margin-right: 6px;
    height: calc(100% - 6px);
    margin-top: 3px;
    display: inline-block;
    background-color: #50545b;
    border-radius: 1px;
    width: 2px;
    vertical-align: middle;
    margin-bottom: 2px;
}

.top_nav_btn_alert {
    height: 38px;
    display: inline-block;
    width: 24px;
    vertical-align: middle;
    background-image: url(/assets/icons/baseline-offline_bolt-24px.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.top_nav_btn {
    height: 26px;
    border-radius: 5px;
    background-color: #33363c;
    color: white;
    outline: none;
    border: 1px solid #50545b;
    padding: 5px 15px;
    display: inline-block;
    line-height: 26px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 12px;
    padding-left: 40px;
    background-size: 18px;
    font-size: 15px;
    cursor: pointer;
}

.top_nav_btn_more {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 36px;
}

.top_nav_btn_disabled {
    color: #d5cbcb;
    filter: brightness(0.85);
    cursor: unset;
}

.top_nav_btn_hidden {
    display:none;
}

.top_nav_popup {
    padding: 15px;
    background-color: #33363c;
    width: 200px;
    position: absolute;
    top: 45px;
    z-index: 99;
    border: 1px solid #50545b;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.28);
    line-height: 15px;
    font-size: 13px;
    text-align: center;
    color:white;
}

.top_nav_popup_arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #50545b;
    position: absolute;
    pointer-events: none;
    z-index: 10001;
    top: -7px;
    right: 7px;
    right: 109px;
}

/* BOTTOM NAV */
.bottom_nav {
    /* Configure */
    z-index:2;
    position: absolute;
    bottom:0px;
    left:0;
    right:360px;
    height:26px;
    line-height: 26px;
    background-color: #33363c;
    color:gray;
    padding-left:8px;
    padding-right:8px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.bottom_nav_name_upper {
    font-weight: 600;
}

.bottom_nav_name_lower {
    font-weight: 100;
}

.bottom_nav_link {
    color:gray;
    float:right;
    margin-left: 5px;
}

.bottom_nav_servers {
    margin: 0 5px;
}

.bottom_nav_server_badge {
    background-position: 50%;
    background-size: 100%;
    margin: 10px 5px;
    width: calc(70px - 10px - 10px);
    height: calc(70px - 10px - 10px);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 0;
    vertical-align: top;
    transition:all 120ms;
    transition-timing-function: cubic-bezier(0.51, 0.62, 0.23, 0.96);
}

.bottom_nav_server_badge_hub {
    background-image: url(/assets/icons/baseline-view_quilt-24px.svg);
    background-size: 34px;
    background-repeat: no-repeat;
    background-color: #33363c;
}

.bottom_nav_server_badge_add {
    background-color: #33363c;
    background-image: url(/assets/icons/baseline-add-24px.svg);
    background-size: 28px;
    background-repeat: no-repeat;
}

.bottom_nav_server_badge_sep {
    margin: 10px 5px;
    height: calc(70px - 10px - 10px);
    display: inline-block;
    vertical-align: top;
    width: 2px;
    background-color: #7f7f7f;
    margin-left: 10px;
}

.bottom_nav_server_badge:hover {
    /* Raise this in the future? */
}

.bottom_nav_me_badge {
    position: absolute;
    left: 0px;
    height: 60px;
    background-color: #252629;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
    transition: all 150ms;
    transition-timing-function: cubic-bezier(0.51, 0.62, 0.23, 0.96);
    right: 0px;
    bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top: 1px solid #44474b;
}

.bottom_nav:hover .bottom_nav_me_badge {
    opacity: 1;
}

.top_title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    padding: 10px 0px;
    width: 120px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 100;
    color: #c3c3c3;
    background-color: #33363c;
    padding-left: 20px;
    padding-right: 5px;
}

.top_title_big {
    font-weight: 600;
    color: white;
}

.top_title_arrow {
    border-right: 30px solid transparent;
    border-top: 60px solid #33363c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 145px;
}

.map_layer_select_active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}