.admin_title {
    font-size:20px;
    text-transform:uppercase;
    color:white;
    font-weight:800;
    margin-bottom:20px;
}

.admin_text {
    font-size: 15px;
    color: rgb(220, 220, 220);
    margin-bottom: 10px;
}

.admin_warning_box {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
    color: #ffffff;
    font-weight: 500;
    background-color: #f78254;
    padding: 10px;
    border-radius: 5px;
    background-image: url(/assets/app/icons/warning_white.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 45px;
    background-position-x: 10px;
    border: 1px solid #0c0c0c;
}

.admin_btn_red {
    padding: 14px 15px;
    color: white;
    background-color: #f16060;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #222325;
}

.admin_piano_key {
    margin: 10px 0px;
}

/* Players tab */

.admintab_players_user {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
    border-radius:5px;
}

.admintab_players_user:hover {
    background-color: #252629;
}

.admintab_players_user_icon {
    position:absolute;
    left:0;
    top:0;
    width:40px;
    height:40px;
    border-radius:5px;
}

.admintab_players_user_dwm {
    width: 40px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    right: 10px;
    position: absolute;
    background-color: #3882dc;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
    top: 10px;
}

.admintab_players_user_name {
    left: 50px;
    top: 2px;
    font-size: 15px;
    color: white;
    right: 0;
    position: absolute;
    right: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.admintab_players_user_tribe {
    left: 50px;
    bottom: 2px;
    font-size: 15px;
    color: #adadad;
    right: 0;
    position: absolute;
    right: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.admintab_players_user_time_label {
    top: 2px;
    font-size: 15px;
    color: white;
    right: 0;
    position: absolute;
    right: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.admintab_players_user_time {
    bottom: 0;
    top:0;
    line-height:40px;
    font-size: 15px;
    color: #adadad;
    right: 0;
    position: absolute;
    right: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Permissions tab */
.admintab_permissions_perm {
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2px 0px;
    padding-right:86px;
}

.admintab_permissions_perm_name {
    font-size: 15px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 38px;
}

.admintab_permissions_perm_description {
    font-size: 15px;
    color: #adadad;
}

.admintab_permissions_perm_select {
    position: absolute;
    width: 76px;
    height: 28px;
    right: 0px;
    top: 5px;
}

.admintab_permissions_perm_select_tribe {
    border: 1px solid #18191c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 36px;
    background-color: #252629;
    cursor: pointer;
    z-index: 1;
    background-image: url(/assets/app/icons/admin/permissions/tribe.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.admintab_permissions_perm_select_admin {
    border: 1px solid #18191c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 36px;
    background-color: #252629;
    cursor: pointer;
    z-index: 1;
    background-image: url(/assets/app/icons/admin/permissions/admin.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.admintab_permissions_perm_select_label {
    color: white;
    font-weight: 800;
    font-size: 10px;
    left: 0;
    right: 0;
    position: absolute;
    top: -20px;
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
}

.admintab_permissions_perm_select_tribe_active {
    background-color: #43b581;
    border-color: #43b581;
    z-index: 2;
    background-image: url(/assets/app/icons/admin/permissions/tribe_selected.svg);
}

.admintab_permissions_perm_select_admin_active {
    background-color: #f04747;
    border-color: #f04747;
    z-index: 2;
    background-image: url(/assets/app/icons/admin/permissions/admin_selected.svg);
}