.admintab_players_user {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

.admintab_players_user_icon {
    position:absolute;
    left:0;
    top:0;
    width:40px;
    height:40px;
    border-radius:5px;
}

.admintab_players_user_dwm {
    width: 40px;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    right: 10px;
    position: absolute;
    background-color: #3882dc;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
    top: 10px;
}

.admintab_players_user_name {
    left: 50px;
    top: 2px;
    font-size: 15px;
    color: white;
    right: 0;
    position: absolute;
    right: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.admintab_players_user_tribe {
    left: 50px;
    bottom: 2px;
    font-size: 15px;
    color: #adadad;
    right: 0;
    position: absolute;
    right: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.admintab_players_user_time_label {
    top: 2px;
    font-size: 15px;
    color: white;
    right: 0;
    position: absolute;
    right: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.admintab_players_user_time {
    bottom: 0;
    top:0;
    line-height:40px;
    font-size: 15px;
    color: #adadad;
    right: 0;
    position: absolute;
    right: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}