.dino_sidebar {
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0px;
    width: 360px;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #33363c;
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0.51, 0.62, 0.23, 0.96);
    z-index:3;
}

.dino_sidebar_filter {
    position: absolute;
    bottom: 0px;
    left:0;
    right:0;
    height: 45px;
}

.dino_sidebar_filter_cursor {
    position: absolute;
    width:calc(100% / 5);
    height:3px;
    background-color:#5585e6;
    bottom:0;
    left:0;
    transition:all 100ms;
    transition-timing-function: ease-in-out;
}

.dino_sidebar_filter_item {
    background-size:24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
}

.dino_sidebar_noresults_title {
    font-size:18px;
    color:white;
}

.dino_sidebar_noresults_sub {
    font-size: 15px;
    color: #c3c6cb;
}

.dino_sidebar_helper {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 330px;
    right: 0;
    padding: 15px;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    opacity: 1;
    transition: opacity 250ms;
    transition-timing-function: cubic-bezier(0.51, 0.62, 0.23, 0.96);
}

.dino_sidebar_section_header {
    color:white;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 8px;

    width: 320px;
    height: 4px;
    background-color: #50545b;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 16px;
    border-radius: 4px;
}

.dino_sidebar_item {
    width: 320px;
    margin-bottom: 6px;
    background-color: #252629;
    color: white;
    border-radius: 5px;
    border: 1px solid #44474b;
    position: relative;
    cursor:pointer;
    font-size:0;
}

.dino_sidebar_item img {
    margin: 10px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.dino_sidebar_item_templateimg {
    margin: 10px;
    height: 30px;
    width: 30px;
    background-color: #404144;
    border-radius: 30px;
}

.dino_sidebar_item_invertedimg {
    filter: invert(100%);
}

.dino_sidebar_item_title {
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 16px;
    color: white;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    height: 16px;
    text-overflow: ellipsis;
    right:10px;
    right: 120px;
    white-space: nowrap;
}

.dino_sidebar_item_title_censored {
    font-style: italic;
    color: #989898;
}

.dino_sidebar_item_sub {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 12px;
    color: #bfbfbf;
    line-height: 12px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    right:10px;
}

.dino_sidebar_item_sub_state {
    color: rgb(90, 224, 0);
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 10px;
    left: unset;
    font-size: 13px;
    line-height: 15px;
    top: 15px;
    text-transform: uppercase;
}

.dino_sidebar_togglebtn {
    border-radius: 100%;
    position: absolute;
    top:15px;
    left:-65px;
    width:50px;
    height:50px;
    vertical-align: center;
    text-align: center;
    background-color: #33363c;
    border: 1px solid #44474b;
    background-image: url(/assets/icons/baseline-people-24px.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.dino_sidebar_topsearch {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    background-color: #252629;
    height: 90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.dino_sidebar_topsearch input {
    position: absolute;
    top: 10px;
    width: 320px;
    left: 10px;
    bottom: 50px;
    border-radius: 5px;
    background-color: #33363c;
    color: white;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #50545b;
}

.dino_entry_mini {
    height:30px;
}

.dino_entry_mini .dino_entry_sub {
    left: 85px;
    top: 10px;
    right:10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dino_entry_mini .dino_entry_title {
    display:none;
}

.dino_entry_mini img {
    margin: 5px;
    height: 20px;
    width: 20px;
}

.dino_sidebar_item .sidebar_item_search_entry_icon {
    top: 0;
    left: 0;
}

.dino_sidebar_item .dino_entry_offset {
    padding-left:50px;
}

.dino_sidebar_item .sidebar_item_search_entry_dinos {
    margin-bottom: 5px;
}

.dino_sidebar_itemsearch_overflowdinos {
    display:none;
}

.dino_entry_overflowwarn img {
    display:none;
}

.dino_entry_overflowwarn .dino_entry_sub {
    left:55px;
}

.dino_sidebar_item:hover .dino_sidebar_itemsearch_overflowdinos {
    display:block;
}

.dino_sidebar_item:hover .dino_entry_overflowwarn {
    display:none;
}

@keyframes stillloading_items {
    from {
        color:#c3c6cb;
    }
    50% {
        color:#e4e5e7
    }
    to {
        color:#c3c6cb;
    }
}

.dino_sidebar_stillloading {
    animation-name:stillloading_items;
    animation-timing-function: ease-in-out;
    animation-duration: 1800ms;
    animation-iteration-count: infinite;
    text-align:center;
}

.dino_sidebar_top_nav {
    width: 98px;
    margin-bottom: 6px;
    background-color: #252629;
    border-radius: 5px;
    border: 1px solid #44474b;
    position: relative;
    cursor: pointer;
    height: 30px;
    font-size: 15px;
    color: #d0cfcf;
    padding: 10px 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 17px;
    padding-left: 40px;
    background-size: 18px;
    line-height: 30px;
}

.dino_sidebar_top_nav_left {
    background-image: url(/assets/icons/baseline-arrow_back-24px.svg);
    opacity: 0;
    pointer-events: none;
}

.dino_sidebar_top_nav_right {
    background-image: url(/assets/icons/baseline-sort-24px.svg);
    float:right;
}

.dino_sidebar_top_nav_sort_type {
    font-size: 13px;
    font-style: italic;
    color: gray;
}

/* For expanding into tribe tools */
.dino_sidebar_tribe_tools {
    width:100vw;
}

.dino_sidebar_tribe_tools .dino_sidebar_helper {
    opacity: 0;
}

.dino_sidebar_tribe_tools .bottom_nav_me_badge {
    opacity: 0;
}

/* Stats list */
.dino_stats_list_item_title {
    padding:3px;
    height:20px;
    line-height:20px;
    color:white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    text-align: left;
    padding-top: 5px;
    border-top: 3px solid transparent;
    border-radius: 2px;
}

.dino_stats_list_item_title_img {
    background-position:center;
    background-size:18px;
    width:20px;
    background-repeat: no-repeat;
    background-position-x: 3px;
}

.dino_stats_list_item {
    padding:5px 3px;
    height:20px;
    line-height:20px;
    color:white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}

.dino_stats_list_item_img {
    background-position:center;
    background-size:20px;
    width:20px;
    background-repeat: no-repeat;
    background-position-x: 3px;
    filter: invert(1);
}

.dino_stats_list_item_img_i {
    width:20px;
}

.dino_stats_list_item_gender {
    width:12px;
    height:12px;
    border-radius: 6px;
    margin:4px;
    background-color:#f086d4;
}

.dino_stats_list_item_gender_male {
    background-color:#28b7eb;
}

.dino_stats_list_item_color_container {
    height: 11px;
    margin: 3px;
    margin-left: 8px;
    width: 70px;
}

.dino_stats_list_item_color_container_item {
    width:12px;
    height:12px;
    border-radius: 6px;
    margin-left: -4px;
    display: inline-block;
    border: 1px solid #e2e2e240;
}

.dino_stats_search {
    padding: 5px 10px;
    bottom: 0;
    margin: 0;
    border-right: 1px solid #50545b;
    position: absolute;
    top: -50px;
    height: 26px;
    border-radius: 5px;
    background-color: #33363c;
    color: white;
    outline: none;
    border: 1px solid #50545b;
    right: 16px;
    width: 308px;
    z-index: 1000;
    font-size: 12px;
}

.dino_stats_column_odd {
    background-color: #34363a;
}

.dino_stats_title {
    bottom: 0;
    margin: 0;
    position: absolute;
    top: -50px;
    height: 40px;
    border-radius: 5px;
    color: #ffffffb8;
    outline: none;
    left: 15px;
    line-height: 40px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    z-index: 1000;
}

.dino_stats_header_sortable {
    border-top-color:#8f8f8f;
    cursor:pointer;
}

.dino_stats_header_sort_selected {
    border-top-color: #76b1e8;
}

.dino_stats_header_sort_selected_reverse {
    border-top-style: double;
}

.dino_stats_stat_major {
    color:#76b1e8;
}

.dino_stats_stat_sort {
    text-decoration: underline;
}

.dino_stats_column:hover {
    background-color: #404349;
}

/* Search bar */
.dino_stats_search_box {
    position: absolute;
    top: -50px;
    width: 330px;
    right: 16px;
    height: 38px;
    z-index: 10003;
}

.dino_stats_search_text {
    padding: 5px 10px;
    left: 0;
    width: calc(100% - 120px - 30px);
    margin: 0;
    font-size:12px;
}

.dino_stats_search_sort {
    right: 0;
    width: 120px;
    padding: 5px;
    font-size:14px;
}

.dino_stats_search_base {
    border: 1px solid #50545b;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #33363c;
    border-radius: 5px;
    color: white;
}

.dino_stats_search_base:focus {
    outline: none;
}

.dino_stats_item_type_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.dino_stats_item_type_gender, #stat_sort_btn_gender {
    width: 26px;
}