body, html {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 250px;
    overflow-y: auto;
    background-color: #33363c;
}

.article {
    margin-left: 250px;
    overflow-y: auto;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}

.article_loader {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #368df7;
    border-left-color: #368df7;
    border-radius: 50%;
    animation: aloading_spinner .4s linear infinite;
    z-index: 90;
    position: fixed;
    top: calc(50vh - 9px);
    left: calc(50vw + 125px - 9px);
    display:none;
}

.state_article_loading .article_loader {
    display:block;
}

@keyframes aloading_spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1 {
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
    font-size:30px;
}

h2 {
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: rgb(0, 0, 0);
    font-size:20px;
}

p {
    color: rgb(72, 72, 72);
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
}